.filters, .filters_mobile {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.filters_mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .filters {
    display: none;
  }

  .filters_mobile {
    display: flex;
    flex-direction: column;
    align-items: unset;
  }

  .filters_mobile summary {
    align-items: center;
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-sm);
    background: var(--color-gray-alpha-100);
    cursor: pointer;
    font-weight: bold;
  }

  .filters_mobile > * {
    margin-bottom: var(--spacing-xs);
  }
}