.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: var(--spacing-lg) auto;
}

.spinner {
  border: var(--spacing-xs) solid transparent;
  border-top: var(--spacing-xs) solid var(--color-primary);
  border-left: var(--spacing-xs) solid var(--color-primary);
  border-bottom: var(--spacing-xs) solid var(--color-primary);
  border-radius: 100%;
  width: 3.125rem;
  height: 3.125rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}