.component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: var(--shadow-lg);
}

.menu {
  display: flex;
  gap: 1.5rem;
}

.menu button:hover {
  filter: brightness(0.8);
}