.component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: var(--shadow-lg);
}

.menu {
  display: flex;
  gap: 1.5rem;
}

.menu button:hover {
  filter: brightness(0.8);
}

@media screen and (max-width: 640px) {
  .component {
    padding: 0.5rem 1rem;
  }

  .component h1 {
    display: none;
  }

  .menu button {
    font-size: small;
  }
}